body {
    font-family: "Microsoft YaHei", sans-serif;
    padding: 20px;
}

.controls button {
    font-size: 20px;
    margin: 5px;
    padding: 10px 20px;
}

#preview {

    height: 500px;
    overflow-y: auto;

    border: 1px solid #ccc;

    padding: 10px;

}

#preview div {

    padding: 6px;
    font-size: 20px;

}

.current {

    background: #4feaff;
    font-weight: bold;

}
/* 顶部标题 */

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 12px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: #1976d2;
}