:root {
    --side-padding: 140px;
}

body {
    margin: 0;
    padding: 0;
    padding-left: var(--side-padding);
    background: black;
    color: white;
    font-family: "Microsoft YaHei",
    sans-serif;
}

#current {
    font-size: 100px;
    text-align: left;
    margin-top: 20px;
}

#next div {
    opacity: 0.8;
    font-size: 80px;
    margin-top: 4px;
    text-align: left;
}